<h1>{{ title }}</h1>

<p>Angular ya está funcionando.</p>

<h2>Agregar tarea</h2>

<div>
  <label>
    Nombre:
    <input type="text" [(ngModel)]="nuevaTarea.nombre">
  </label>
</div>

<div>
  <label>
    Tarea:
    <input type="text" [(ngModel)]="nuevaTarea.tarea">
  </label>
</div>

<div>
  <label>
    Descripción:
    <textarea [(ngModel)]="nuevaTarea.descripcion"></textarea>
  </label>
</div>

<div>
  <label>
    Fecha inicio:
    <input type="date" [(ngModel)]="nuevaTarea.fecha_inicio">
  </label>
</div>

<div>
  <label>
    Fecha límite:
    <input type="date" [(ngModel)]="nuevaTarea.fecha_limite">
  </label>
</div>

<button (click)="agregarTarea()">
  Agregar tarea
</button>

<p>Estás escribiendo: {{ nuevaTarea }}</p>

<h2>Lista de tareas</h2>

@if (mensaje) {
  <p>{{ mensaje }}</p>
}

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Tarea</th>
      <th>Descripción</th>
      <th>Fecha inicio</th>
      <th>Fecha límite</th>
      <th>Estado</th>
      <th>Acción</th>
      
    </tr>
  </thead>

  <tbody>
    @for (tarea of tareas(); track tarea.id) {
      <tr>
        <td>{{ tarea.id }}</td>
        <td>{{ tarea.nombre }}</td>
        <td>{{ tarea.tarea }}</td>
        <td>{{ tarea.descripcion }}</td>
        <td>{{ tarea.fecha_inicio }}</td>
        <td>{{ tarea.fecha_limite }}</td>
        <td>
          @if (tarea.completada) {
            Completada
          } @else {
            Pendiente
          }
        </td>
        <td>
          <button (click)="cambiarEstado(tarea.id)">
            Cambiar estado
          </button>

          <button (click)="eliminarTarea(tarea.id)">
            Eliminar
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
